.daterangepicker {
  background-color: $custom-control-indicator-bg;
}

.daterangepicker .ranges .input-mini {
  border: 1px solid $custom-control-indicator-border-color;
  color: $custom-control-label-color;
}

.daterangepicker .ranges li {
  border: 1px solid $custom-control-indicator-border-color;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  background:  $custom-control-indicator-active-bg;
  border: 1px solid $custom-control-indicator-active-border-color;
  color: $custom-control-indicator-active-color;
}

.daterangepicker .calendar-date {
  border: 1px solid $custom-control-indicator-border-color;
  background: $custom-control-indicator-bg;
}


.daterangepicker.opensleft:before {
  border-bottom: 7px solid $custom-control-indicator-border-color;
  border-bottom-color: rgba($custom-control-indicator-border-color, 0.2);
}

.daterangepicker.opensleft:after {
  border-bottom: 6px solid $custom-control-indicator-border-color;
}

.daterangepicker.openscenter:before {
  border-bottom: 7px solid $custom-control-indicator-border-color;
  border-bottom-color: rgba($custom-control-indicator-border-color, 0.2);
}

.daterangepicker.openscenter:after {
  border-bottom: 6px solid $custom-control-indicator-border-color;
}

.daterangepicker.opensright:before {
  border-bottom: 7px solid $custom-control-indicator-border-color;
  border-bottom-color: rgba($custom-control-indicator-border-color, 0.2);
}

.daterangepicker.opensright:after {
  border-bottom: 6px solid $custom-control-indicator-border-color;
}

.daterangepicker.dropup:before{
  border-top: 7px solid $custom-control-indicator-border-color;
}

.daterangepicker.dropup:after{
  border-top: 6px solid $custom-control-indicator-border-color;
}

.daterangepicker td.off {
  color: $custom-control-label-color;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
  color: $custom-control-label-color;
}

.daterangepicker td.available:hover, .daterangepicker td.available.today, .daterangepicker th.available:hover {
  background: $list-group-action-hover-color;
}

.daterangepicker td.today.active, .daterangepicker td.active, .daterangepicker td.active:hover {
  background:  $custom-control-indicator-active-bg;
  border-color: $custom-control-indicator-active-border-color;
  color: $custom-control-indicator-active-color;
}
